.head{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 44px;
}
.para{
    padding: 78px;
    color: aliceblue;
}
.bod{
    background: url(https://wallpapercave.com/wp/wp4085249.jpg);

}